joblib
gunicorn
click
Flask
Flask-Cors
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
python-dotenv
Flask-Login
Flask-Migrate
Flask-Reuploaded
psycopg2-binary
pytest
Flask-JWT-Extended
Werkzeug
gevent
mysqlclient
pandas
openpyxl
scikit-learn == 1.3.0
seaborn
Flask-Dropzone