joblib
python-dotenv
werkzeug
gunicorn
click
Flask
Flask-Cors
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
python-dotenv
Flask-Login
Flask-Migrate
Flask-Reuploaded
psycopg2-binary
pytest
Flask-JWT-Extended
pyrebase4
Werkzeug
gevent
mysqlclient
pandas